/* Primary v1.0 */
$blue_01: #0090da;
$blue_02: #007abc;
$blue_03: #0a96a4;
$blue_04: #327cc0;
$dark_blue_01: #0061a0;
$green_01: #a4ce4e;
$green_02: #40a900;
$green03: #91c65e;
$dark_yellow: #e1b212;

/* Neutral v1.0 */
$black: #000000;
$darkest_gray: #333333;
$dark_gray: #6e6e6e;
$medium_gray: #a7a8aa;
$medium_gray01: #75787b;
$gray: #d9d9d6;
$gray_01: #d9eef9;
$gray_02: #f0f0f0;
$light_gray: #f2f2f2;
$white: #ffffff;

/* Secondary v1.0 */
$asia_light_blue_01: #3cbdff;
$asia_light_blue_02: #f4fbff;
$purple: #5f259f;
$berry: #db0a5b;
$red: #dd2224;
$asia_light_red: #fbe7e7;
$yellow: #ffc600;
$teal: #00aca0;
$asia_light_teal: #e5f7f5;
$tag_bg_yellow: #fff5d1;
$tag_bg_blue: #e7f7ff;
$tag_bg_purple: #efeafc;
$tag_bg_green: #ebf9dd;

/* Secondary v2.0 */
$mlbaseteal: #00aca0;
$basered: #d42123;
$mlasiablue: #3cbdff;
$mlbasepurple: #5f259f;
$mlbaseberry: #db0a5b;
$mlbaseyellow: #ffc600;
$mlbasesalmonorange: #fe5f55;

/* Additional Swatches v2.0 */
$lightestgreen: #f6faed;
$lightestteal: #e6f7f6;
$lightestred: #fbe9e9;
$lightestblue: #e6f4fb;
$lightestpurple: #efe9f5;
$lightestyellow: #fff9e6;
$darkgreen: #83a53e;
$darkteal: #379b94;
$darkred: #b91d1f;
$darkpurple: #471c77;
$darkyellow: #e1b212;
$skyblue: #1eb4d0;
$lightest2purple: #9359dc;

/* gradients v1.0 */
$gradient1_v2: #a4ce4e, #0090da;
$gradient2_v2: #379b94, #0090da;
$gradient3_v2: #1e4c76, #007abc;
$gradient4_v2: #000016, #1e4c76;
$gradient5_v2: #00aca0, #a4ce4e;
$gradient6_v2: #210d3c, #614f94;
$gradient7_v2: #007abc, #1e4c76;

/* background Image */

/* font size */
$h1: 2.8rem;
$h2: 2.5rem;
$h3: 1.9rem;
$h4: 1.6rem;
$body: 1.6rem;
$notes1: 1.4rem;
$notes2: 1.2rem;
$notes3: 1.1rem;
$notes4: 1rem;

/* font weight */
$normal: 400;
$medium: 500;
$bold: 700;
